/* Estilo para movil */
@media only screen and (max-width: 450px) {
  #logo {
    display: none;
  }
  ul {
    justify-content: center;
  }
  #detalles {
   
    height: 1200px;
  }
  .row{
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    // align-content: space-between;
    // justify-content: space-between;
    height: 1200px;
  }

  .imagenesFlex {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }
}

/* Estilo para tablet */
@media only screen and (min-width: 451px) and(max-width:960px) {
  #detalles {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 850px;
  }
  #logo {
    display: none;
  }
}

@media only screen and (min-width: 961px) {
  .contenedorForma {
    margin: 0px 5% 0px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 220px;
    grid-column-gap: 5px;
  }
}
